/** @format */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(226, 43%, 10%);
  margin: 0;
  font-family: "Rubik";
}

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin: 0;
  height: auto;
}

.container2 {
  border-radius: 15px;
  background-color: hsl(235, 46%, 20%);
}

img {
  width: 80px;

  border-radius: 80px;
  border: 3px solid white;
}
.report {
  display: grid;
  padding: 25px;
  background-color: hsl(246, 80%, 60%);
  border-radius: 15px;
}

.reportfor-name {
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 300;
}

.reportfor {
  font-size: 13px;
  color: hsl(236, 100%, 87%);
}

.name {
  font-size: 40px;
  width: 100px;
  color: white;
}

.list {
  display: grid;
  list-style: none;
  gap: 15px;
  color: hsl(235, 45%, 61%);
  margin-top: 30px;
  font-size: 18px;
}

.daily:hover,
.weekly:hover,
.monthly:hover {
  cursor: pointer;
  color: white;
}

.container3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.Work,
.Play,
.Study,
.Exercise,
.Social,
.SelfCare {
  border-radius: 15px;
  text-align: center;
  width: 255px;
  height: 245px;
  position: relative;
}

.Work {
  background-color: hsl(15, 100%, 70%);
}
.Play {
  background-color: hsl(195, 74%, 62%);
}

.Study {
  background-color: hsl(348, 100%, 68%);
}

.Exercise {
  background-color: hsl(145, 58%, 55%);
}
.Social {
  background-color: hsl(264, 64%, 52%);
}

.SelfCare {
  background-color: hsl(43, 84%, 65%);
}

svg {
  float: right;
  margin-right: 10px;
}

.ellipsis {
  margin-top: 7px;
}

.span {
  margin-top: 55px;
  text-align: left;
  background-color: hsl(235, 46%, 20%);
  padding: 25px;
  position: absolute;
  width: 208px;
  height: 145px;
  margin-left: -1px;
  border-radius: 20px;
  color: white;
  font-size: 18px;
}

.span:hover {
  background-color: hsl(235, 45%, 61%);
  cursor: pointer;
}

.hrs {
  margin-top: 25px;
  font-size: 60px;
  font-weight: 300;
}

.lastweek {
  font-size: 15px;
  font-weight: 300;
  color: hsl(236, 100%, 87%);
}

@media only screen and (max-width: 900px) {
  .container {
    margin-top: 50px;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .container3 {
    grid-template-columns: 1fr;
  }

  .span {
    width: 287px;
    height: auto;
  }

  .hrs {
    font-size: 30px;
  }
  .lastweek {
    float: right;

    margin-top: -25px;
  }
  .Work,
  .Play,
  .Study,
  .Exercise,
  .Social,
  .SelfCare {
    width: 335px;
    height: 185px;
  }

  .list {
    display: flex;
    font-size: 15px;
    gap: 60px;
    margin-top: 15px;
  }

  .report {
    display: flex;
    padding-bottom: 0px;
  }
  .reportfor-name {
    margin-top: 18px;
    margin-left: 15px;
  }

  img {
    width: 70px;
    height: 70px;
  }

  .name {
    width: 195px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1110px) {
  .name {
    font-size: 30px;
  }
  .Work,
  .Play,
  .Study,
  .Exercise,
  .Social,
  .SelfCare {
    width: 245px;
    height: 220px;
  }

  .span {
    width: 201px;
    height: auto;
    margin-left: -4px;
  }
  .hrs {
    font-size: 40px;
  }
}
